@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&display=swap');

body {
	margin: 0;
	padding: 0;
}

html {
	overflow: hidden;
}

h1 {
	margin-right: 20px;
	font-size: 20px;
}

h2 {
	margin-right: 30px;
	font-size: 14px;
}

#info {
	position: absolute;
	line-height: 0;
	bottom: 5px;
	width: 100%;
	box-sizing: border-box;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
	text-align: right;
	font-family: 'Kanit', sans-serif;
	color: white;
	font-weight: 900;
}