@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&display=swap');

h1 {
	text-align: center;
	font-size: 75px;
	text-align: center;
	font-family: 'Kanit', sans-serif;
	font-weight: 900;
	margin-bottom: -1em;
}